[
          {
                "url": "stun:27.0.14.114:37456"
          },
          {
                "url": "turn:27.0.14.114:37456?transport=tcp",
                "username": "root",
                "credential": "azibaiwrtc"
          },
          {
                "url": "turn:27.0.14.114:37456?transport=udp",
                "username": "root",
                "credential": "azibaiwrtc"
          },
         {
     	      "stun": "stun:27.0.14.114:37456",
     	      "url": "27.0.14.114"
	}
  ]
