/*------------------------------------------------------------------
FOOTER

* body
  + Header / header
  + Features Section / section
  + Team Section / section
  + Quote Background Section / section.bg-team
  + Twitter Section / section [see twitter.css]
  + Footer / footer
    - Social Icons / .social
    - Blog Post / .blog
    - Contact Us / .contact
    - Copy Right / .copy

background color = #3C485F
font color = #62769b
-------------------------------------------------------------------*/
footer {
    font-size: 1em;
    line-height: 2em;
    background: #e8e8e8;
    color: #333;
    padding: 30px 0;
    position: relative;
}
    footer a {
        color: #62769b;
    }

    footer hr {
        border: 0px;
        background: #999;
        margin: 50px 0 20px 0;
        height: 1px;
        width: 100%;
    }

    /* Social Icons */
    footer .social a {
        color: #999;
        font-size: 2.8em;
        margin-right: 25px;
    }

    /* Copy Right */
    footer .copyright {
        text-align: center;
        font-size: .9em;
        font-weight: bold;
    }
    footer .copyright a {
        margin-left: 10px;
    }
    footer .move-up {
        position: absolute;
        right: 20px;
        bottom: 20px;
        background: rgba(0, 0, 0, .2);
        padding: 20px;
        border-radius: 6px;
    }