<div class="limo-dialogs">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
            <h4 class="modal-title"><% modalTitle || "Xác nhận"  %></h4>
        </div>
        <div class="modal-body form-group">
            <p class="text-center"><%msg%></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn btn-success btn-yes" ng-click="agree()">Yes</button>
        </div>
    </div>
</div>