.padding-left-50.margin-top
{
	margin-top: 20px!important;
}
.margin-top-50
{
	margin-top: 50px!important;
}
.margin-right-50
{
	margin-right: 50px;
}
.padding-bottom-20
{
	padding-bottom: 20px!important;
}
.padding-left-50
{
	padding-left: 0px!important;
}
a.white
{
	color: white!important;
}
.margin-top{
	margin-top: 17px!important;
}
.row.feature-items{
	margin-bottom:25px;
}
.team-member-info h3{
	font-weight:normal!important;
	text-align:center;
}
.feature-item-title a{
	padding-top: 30px;
}
h4.modal-title{ color:#333; text-shadow:none!important;}
.password{
	color:#FFF;
	font-size:15px;
	padding:10px 0px;

}
.password:hover{
	cursor: pointer;
}

span.jssora21r,span.jssora21l{
	display:none;
}

span.jssora22r,span.jssora22l,.jssorb05{
	display:none;
}
.imageicon{ width:60px;}
section p{font-size:1.1em;}
