#navShopAllButton .text{padding-top:0px !important; color:#FFF;}
.linkviewCategory{padding-top:11px}
.k_ie8paddintop{padding-top:0px !important; padding-left:12px !important}
#navShopAllButton .destination .k_ie8text{}
img { border:none;}
#k_eyecontent { border:1px solid #d6d6d6 !important;}
.zoomPad{

	position:relative;
	width:300px !important;
}