a:link, a:visited {
text-decoration : none;
}
div.wrap {
width : 600px;
}
div#top div#nav {
float : left;
clear : both;
width : 560px;
height : 52px;
margin : 22px 0 0;
}
div#top div#nav ul {
float : left;
width : 700px;
height : 52px;
list-style-type : none;
}
div#nav ul li {
float : left;
height : 52px;
}
div#nav ul li a {
border : 0;
height : 52px;
display : block;
line-height : 52px;
text-indent : -9999px;
}
div#header-1 {
margin : -1px 0 0;
}
div#video-header {
height : 683px;
margin : -1px 0 0;
}
div#header-1 div.wrap {
height : 231px;
/*background : url(../images/header-bg.png) no-repeat 50% 0;*/
}
div#header-1 div#slide-holder {
z-index : 40;
width : 560px;
height : 230px;
position : absolute;
}
div#header-1 div#slide-holder div#slide-runner {
left : 11px;
width : 560px;
height : 230px;
overflow : hidden;
position : absolute;
}
div#header-1 div#slide-holder img {
margin : 0;
display : block;
position : absolute;
}
div#header-1 div#slide-holder div#slide-controls {
left : 0;
bottom : 228px;
width : 560px;
height : 46px;
display : none;
position : absolute;
/*background : url(../images/slide-bg.png) 0 0;*/
}
div#header-1 div#slide-holder div#slide-controls p.text {
float : left;
color : #fff;
display : inline;
font-size : 10px;
line-height : 16px;
margin : 15px 0 0 20px;
text-transform : uppercase;
}
div#header-1 div#slide-holder div#slide-controls p#slide-nav {
float : left;
height : 25px;
display : inline;
margin : 5px 5px 0 8px;
padding:5px 0px 0px 5px;
}
div#header-1 div#slide-holder div#slide-controls p#slide-nav a {
float : left;
width : 18px;
height : 19px;
display : inline;
font-size : 11px;
margin : 0 5px 0 0;
line-height : 20px;
font-weight : bold;
text-align : center;
text-decoration : none;
background-position : 0 0;
background-repeat : no-repeat;
}
div#header-1 div#slide-holder div#slide-controls p#slide-nav a.on {
background-position : 0 -24px;
}
div#header-1 div#slide-holder div#slide-controls p#slide-nav a {
background-image : url(../images/silde-nav.png);
}
div#nav ul li a {
background : url(../images/nav.png) no-repeat;
}
#header-1{padding-left:11px;}
#slide-nav{ background-color:#474747;}
#slide-runner img{ border:none;}
.end-slide{ clear:both; height:15px;}
#slide-runner{background : url(../images/header-bg.png) no-repeat;}
.menutopBacgrounQ span{ color:#ffffff;}
#address_table{
	background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #E2E2E2;
	 padding: 10px;
	 
    border-radius: 5px 5px 5px 5px;
	left: 283px; position: absolute; top: 210px; display: none; padding:10px; text-align:center
   
}
