.cover-content .avata-part-left .avata-img > img{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    max-width: 100%;
}
.cover-content .avata-part-left .avata-title{
    min-height: 46px;
    line-height: 46px;
}
.button-modify img.filter{
    filter: invert(100%);
}
.avata-part-left .wrap-icon-edit{
    height: 27px;
    width: 27px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
}
.warp-crop-avatar{
    margin: 0 auto;
}
.text-title{
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
.text-draw-crop{
    width: 100%;
}
.close-pop-crop{
    padding: 2px!important;
}
.text-title img{
    width: 18px;
    margin-right: 5px;
    vertical-align: -3px;
}
.cropper-image{
    width: 100%;
    height: 100%;
}
.show-squares-to-circle .cr-viewport.cr-vp-square{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.gianhangcuaban-shopcuatoi .avata img {
    border-radius: 50%;
}
.buttons-group button {
    cursor: pointer;
}
img.error-image{
    width: 100%;
    max-width: 100%;
}
.hidden {
    display: none;
}
.bold_text{
    font-weight: bold;
}
.tindoanhnghiep-video .list-video-slider li .btn-volume {
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 222;
    top: 5px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 5px;
}

video.detail-video::-webkit-media-controls-overlay-play-button {
    display: none!important;
}
.warp-crop-avatar .croppie-container .cr-slider-wrap {
    margin-bottom: 5px;
}
.cropper-tools{
    width: 160px;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
}
.cropper-tools .btn-action img{
    height: 35px;
    cursor: pointer;
}
.liet-ke-hinh-anh .grid.fullwidth .detail{
    padding-top: 5px!important;
}
.liet-ke-hinh-anh .grid.fullwidth .detail .text h3 a {
    color: #f1f1f1;
}
.wrap-edit-cover-image .button-modify img.filter{
    vertical-align: -2px;
}
.wrap-edit-cover-image .button-modify img.filter{
    vertical-align: -2px;
}
.wrap-edit-cover-part .croppie-container .cr-boundary{
    z-index: 0;
}
.wrap-edit-cover-part .croppie-container .cr-slider-wrap{
    margin: 0;
}
.wrap-edit-cover-part .croppie-container .cr-viewport{
    border: 0;
}